h1 {
    font-size: 52px;
    line-height: 1.1;
    color: var(--theme-title-color);
    margin: 0px;
    padding: 16px 0px;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

.header {
    margin-top: 20px;
}

.field-input {
    background-color: var(--theme-ink-color);
    /* opacity: 0.11; */
    border: solid 1px black;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 8px 8px 8px 16px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
}

.large {
    height: 30%;
}
.brief-details-container {
    display: flex;
    flex-direction: column;
    min-height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.brief-info {
    display: flex;
    flex-direction: row;
    min-height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.left-panel {
    background-color: #2c2c2c;
    padding: 64px 32px 64px 48px;
    width: 50%;
}

.main-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-ink-color);
    padding: 20px 54px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.help {
    color: var(--theme-ink-color);
    padding-right: 48px;
    padding-bottom: 8px;
}

.contents {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
    flex-grow: 1;
}

.button-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.button-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.name-panel-input-wrapper {
    margin-top: 24px;
    margin-bottom: 40px;
}

.scope-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
}

.scope-item-description {
    color: var(--theme-black-text);
    font-size: 16px;
    line-height: 1.25;
}

.time-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 120px;
}

.name-title {
    color: var(--theme-secondary);
}

.content-text-small {
    width: 90%;
    color: #2c2c2c;
    font-size: 23px;
    text-align: left;
    padding-top: 5%;
}

.right-panel-details {
    position: static;
    float: right;
    width: 20%;
    height: 100%;
    background-color: white;
}

.inner-right-panel-details {
    padding: 4%;

    width: fit-content;
    height: fit-content;
}

.hello-panel {
    display: flex;
    flex-direction: row;
}

/* Rectangle 42 */

.bar-panel {
    position: absolute;
    width: 19vw;
    height: 31vw;
    left: 63vw;
    top: 13.5vw;
    background: #ffffff;
    border-radius: 25px;
}

.chess-panel {
    position: absolute;
    width: 16vw;
    height: 15vw;
    left: 64.5vw;
    top: 15vw;

    /* Why not download and save the image in /public/ ? */
    background: url(https://w7.pngwing.com/pngs/606/180/png-transparent-english-draughts-checkerboard-checkerboard-angle-white-text-thumbnail.png);
    border-radius: 23px;
}

.freelance-xp-container {
}

.freelance-xp-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}
.freelance-xp-item {
    display: flex;
    flex-direction: column;
    background: var(--theme-imbue-white);
    color: var(--theme-imbue-purple);
    font-size: 15px;
    line-height: 1;
    padding: 17px;
    border-radius: 8px;
}

.freelance-xp-item.active {
    border: 2px solid rgba(56, 29, 193, 0.5);
}

.content-text-small-flex {
    justify-content: center;
    align-items: flex-start;
    color: #2c2c2c;
}

.brief-bio {
    flex: 1 0 30%;
    width: 35%;
    background-color: var(--theme-grey-dark);
    border: 1px solid var(--theme-ink-color);
    border-radius: 20px;
    margin-right: 40px;
}

.brief-insights {
    width: 28%;
    background-color: var(--theme-grey-dark);
    border: 1px solid var(--theme-ink-color);
    border-radius: 20px;
}

.brief-insights > .subsection {
    height: 18%;
}

.brief-insights-stat {
    display: flex;
}

.brief-insights-stat > i {
    margin-right: 10px;
    padding-top: 20px;
}

.brief-insights-stat > h3 > span {
    color: var(--theme-primary);
}

.subsection {
    margin-left: 20px;
    margin-bottom: 25px;
}
.subsection > ul > li {
    list-style: disc;
}

.subsection > .divider {
    width: 75%;
}

.similar-briefs {
    padding-top: 40px;
}

.similar-brief {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.similar-brief-details {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.similar-brief > button {
    margin-top: 0px;
    padding: 6px 12px;
}

.similar-brief > .title {
    font-weight: bold;
}

.brief-insight-icon {
    margin-right: 10px;
    font-size: 23px;
}

.meet-hiring-team {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--theme-grey-dark);
    border-radius: 10px;
    padding-bottom: 30px;
}

.skill {
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 8px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 24px;
}

.meet-hiring-team > button {
    margin-top: 0px;
    font-size: 14px;
}

.h3, h3 {
    font-size: 1.17em !important;
}

.meet-hiring-team > h3 {
    margin-top: 10px
}