.page-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.5;
    gap: 20px;
}

.page-wrapper h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}

.page-wrapper p {
    line-height: 1.5;
}

.section .section-title {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.applicants-list {
    background: var(--theme-grey-dark);
    border: 1px solid var(--theme-light-white);
    border-radius: 20px;
}

.applicant-wrapper {
    display: flex;
    flex-direction: row;
    padding: 35px 60px;
    gap: 50px;
    border-bottom: 1px solid var(--theme-light-white);
}

.applicant-wrapper:last-child {
    border-bottom: none;
}

.freelancer-profile-pic {
    width: 45px;
    height: 45px;
}

.application-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.freelancer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-primary {
    color: var(--theme-primary);
}

.text-small {
    font-size: 16px;
}

.text-grey {
    color: rgba(255, 255, 255, 0.5);
}

.freelancer-info .user-id {
    width: 160px;
}

.freelancer-info .country {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.country .country-flag {}

.country .country-name {
    font-size: 16px;
}

.select-freelancer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.freelancer-title {
    font-weight: 700;
    color: var(--theme-imbue-white);
    width: fit-content;
    max-width: 320px;
    margin-right: 20px;
}

.freelancer-earn {
    margin-right: 20px;
}

.ctas-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.cta-votes {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

.cta-vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.ctas-container button {
    margin: 0;
}

.Accepted-button{
    background-color: var(--theme-primary);
}

.Rejected-button{
    background-color: var(--theme-error);
}

.MuiFormControl-root{
    margin-bottom: 24px;
}

#demo-simple-select-helper-label,
#demo-simple-select-helper,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined{
    color: #fff;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl:hover .MuiOutlinedInput-notchedOutline{
    border: 1px solid white;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
    background-color: var(--theme-grey-dark);
    color: white;
}

.MuiOutlinedInput-notchedOutline{
    border-color: var(--theme-light-white);
}
