:root {
    --theme-primary: #b2ff0b;
    --theme-secondary: #411dc9;
    --theme-secondary-hover: #512dd9;
    --theme-secondary-dark: #020c67;
    --theme-secondary-dark-hover: #121c7f;
    --theme-error: #ff5a58;
    --theme-error-hover: #ff7a78;
    --theme-background: #1a1a19;
    --theme-title-color: #fff;
    --theme-ink-color: #ebeae2;
    --theme-light-grey: #ebeae2;
    --theme-grey-text: #a6a6a6;
    --theme-font-family: "Aeonik", sans-serif;
    --theme-black-text: #0f0f0f;
    --theme-grey-dark: #2c2c2c;
    --theme-light-purple: #aaa1e4;
    --theme-purple-dark: #03116a;
    --theme-purple: #3b27c1;
    --theme-white: #fff;
    --theme-imbue-purple: #3b27c1;
    --theme-imbue-white: #ffffff;
    --theme-yellow: #ffb609;

    --theme-h1-size: 75px;
    --theme-h1-weight: normal;

    --theme-h2-size: 50px;
    --theme-h2-weight: normal;

    --dialog-title-color: var(--theme-title-color);
    --dialog-content-color: #a9a9a9; /** FIXME: really? why not theme-ink-color? */
    --dialog-scrim-background: rgba(0, 0, 0, 0.75);
    --dialog-anchor-color: var(--theme-primary);
    --dialog-strong-color: var(--dialog-title-color);
    --dialog-box-shadow: 0px 0px 5px #444,
        0px 11px 15px -7px rgba(50, 50, 50, 0.2),
        0px 24px 38px 3px rgba(50, 50, 50, 0.14),
        0px 9px 46px 8px rgba(50, 50, 50, 0.12);
    --dialog-z-index: 1001;

    /** material design variable */
    --mdc-shape-small: 8px;
    --mdc-theme-primary: var(--theme-primary);
    --mdc-theme-secondary: var(--theme-secondary);
    --mdc-theme-secondary-hover: var(--theme-secondary-hover);
    --mdc-theme-error: var(--theme-error);
    --mdc-theme-background: var(--theme-background);
    --mdc-theme-surface: #0f0f0f;

    --mdc-typography-font-family: var(--theme-font-family);

    --mdc-text-field-fill-color: rgba(235, 234, 226, 0.11);
    --mdc-text-field-disabled-fill-color: rgba(235, 234, 226, 0.23);
    --mdc-text-field-label-ink-color: #aaa;
    --mdc-text-field-disabled-ink-color: rgba(255, 255, 255, 0.25);
    --mdc-text-field-ink-color: var(--theme-ink-color);

    --mdc-select-fill-color: var(--mdc-text-field-fill-color);
    --mdc-select-disabled-fill-color: var(--mdc-text-field-disabled-fill-color);
    --mdc-select-disabled-ink-color: var(--mdc-text-field-disabled-ink-color);
    --mdc-select-label-ink-color: var(--mdc-text-field-label-ink-color);
    --mdc-select-ink-color: var(--mdc-text-field-ink-color);

    --mdc-theme-text-primary-on-background: var(--mdc-text-field-ink-color);
    --mdc-theme-text-secondary-on-background: var(--mdc-theme-secondary);
    --mdc-theme-text-icon-on-background: var(--mdc-text-field-label-ink-color);

    /* --mdc-dialog-content-ink-color: var(--mdc-text-field-ink-color);
    --mdc-dialog-scrim-color: rgba(200, 200, 255, 0.5); */

    --button-border-radius: 3px;
    --button-padding: 20px;
    --button-font-size: 12pt;
    --primary-button-background-color: var(--theme-secondary);
    --primary-button-background-hover-color: var(--theme-primary);
    --secondary-button-background-color: #555;
    --secondary-button-background-color: black; /* rgb(5, 12, 38); */
    --secondary-button-background-hover-color: #656565;
    --secondary-button-color: white;
    --secondary-button-border: 1px solid var(--dialog-content-color);
    --disabled-button-background-color: #676767;
    --disabled-button-color: #b5b5b5;
    --base-transition: all 200ms ease-in-out;

    --hq-dialog-content-color: var(--dialog-content-color);
    --hq-dialog-strong-color: var(--dialog-strong-color);
    --hq-dialog-title-color: var(--dialog-title-color);
    --hq-dialog-anchor-color: var(--dialog-anchor-color);
    --hq-dialog-scrim-background: var(--dialog-scrim-background);
    --hq-dialog-box-shadow: var(--dialog-box-shadow);
    --hq-dialog-z-index: var(--dialog-z-index);
    --hq-dialog-font-family: var(--theme-font-family);
    --hq-button-font-size: var(--button-font-size);
    --hq-button-padding: var(--button-padding);
    --hq-button-border-radius: var(--button-border-radius);
    --hq-primary-button-background-color: var(
        --primary-button-background-color
    );
    --hq-primary-button-background-hover-color: var(
        --primary-button-background-hover-color
    );
    --hq-secondary-button-background-color: var(
        --secondary-button-background-color
    );
    --hq-secondary-button-background-hover-color: var(
        --secondary-button-background-hover-color
    );
    --hq-secondary-button-color: var(--secondary-button-color);
    --hq-secondary-button-border: var(--secondary-button-border);
    --hq-disabled-button-background-color: var(
        --disabled-button-background-color
    );
    --hq-disabled-button-color: var(--disabled-button-color);
    --hq-base-transition: var(--base-transition);
}

body {
    margin: 0;
    padding: 0;

    background-color: #000;
    background-image: url("background.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.primary-btn {
    margin: 0;
}

.primary-btn:disabled {
    background-color: #676767;
    color: #b5b5b5;
    cursor: unset;
}

.primary-btn.fullwidth {
    border-radius: 3px;
    font-weight: normal;
}

@font-face {
    font-family: "Aeonik";
    src: url("AeonikTRIAL-Regular.otf") format("opentype");
}

.mdc-dialog .mdc-dialog__title,
.mdc-dialog__content {
    color: var(--mdc-text-field-ink-color) !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.justify-between {
    justify-content: space-between;
}

.primary-button {
    padding: 12px 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: 2px solid transparent;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    color: #fff;
    font-size: 16px;
    font-family: Aeoniktrial, sans-serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 12px;
    background-color: #411dc9;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #a4ff00;
    color: #000;
}

.primary-button:active {
    transform: scale(1.05);
}

.modal-body,
.modal-footer,
.str-chat,
.str-chat__list,
.str-chat__message-input,
.str-chat__message-input-inner,
.mdc-dialog__surface,
.str-chat__channel-header {
    background: #262626 !important;
}

.str-chat__message .str-chat__message-bubble,
.str-chat__message-input .str-chat__quoted-message-preview .str-chat__quoted-message-bubble {
    background: dimgray !important;
}

.str-chat__message-input,
.str-chat__message-attachment-card--title,
.str-chat__message-input .str-chat__message-textarea-container .str-chat__message-textarea {
    color: var(--theme-ink-color) !important;
}