.freelancers-container {
    margin: 72px;
    display: flex;
    flex-direction: row;
}

.freelancers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 20px;
    padding-right: 100px;
}

.freelancer {
    background: #0f0f0f;
    border: 1px solid #2c2c2c;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.freelancer-profile-pic {
    width: 50%;
    height: 80%;
}

.freelancer-info {
    border-top: none;
    border-bottom: none;
    padding: 16px 20px;
}

.freelancer-image-container {
    width: 100%;
    aspect-ratio: 3/2;
    background: rgba(0, 0, 0, 0.67);
    position: relative;
    display: flex;
    justify-content: center;
}
.freelancers-view {
    display: flex;
    flex-direction: column;
}

.primary-button {
    padding: 12px 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: 2px solid transparent;

    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;

    color: #fff;
    font-size: 16px;
    font-family: Aeoniktrial, sans-serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.6px;

    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 12px;
    background-color: #411dc9;

    cursor: pointer;
}

.skills {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    /* margin-top: 24px; */
}

.skill {
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 8px;
}

p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--theme-ink-color);
    margin: 0;
}

.full-width {
    width: 100%;
}

.search-heading {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 32px;
}

.filter-heading {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--theme-title-color);
    margin-bottom: 30px;
}

.tab-section {
    display: flex;
    flex-direction: row;
}

.tab-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    width: 112px;
    color: var(--theme-title-color);
    cursor: pointer;
}

.search-input {
    background: rgba(235, 234, 226, 0.11);
    border: 0.75px solid rgba(235, 234, 226, 0.5);
    backdrop-filter: blur(7.5px);
    border-radius: 8px;
    width: 75%;
    height: 60px;
}

input {
    color: rgba(235, 234, 226);
    padding-left: 16px;
    font-size: 16px;
    line-height: 30px;
}

input::placeholder {
    color: rgba(235, 234, 226, 0.75);
}

.filter-panel {
    flex: 1 0 30%;
}

.filter-heading {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--theme-title-color);
    margin-bottom: 30px;
}

.filter-label {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--theme-title-color);
    margin-bottom: 20px;
}

.filter-option-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 48px;
}

.filter-option {
    font-size: 16px;
    line-height: 1.2;
    user-select: none;
    cursor: pointer;
}

.filter-option > label {
    margin-left: 8px;
}

@media (max-width: 800px) {
    .freelancers {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .freelancer {
        width: 100%;
    }
}
