@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-body,
.modal-footer,
.str-chat,
.str-chat__list,
.mdc-dialog__surface,
.str-chat__empty-channel,
.str-chat__channel-header {
    background: #2C2C2C;
}

.custom-chat-container {
    background: #2C2C2C;
    height: 75vh;
}

/* left side */
.chat-list-container {
    width: 30%;
}

.str-chat__channel-search,
.str-chat__channel-preview {
    padding: 25px 18px;
}

.str-chat__channel-search .str-chat__channel-search-bar {
    padding: 0;
}

.str-chat__channel-search-bar .str-chat__channel-search-input--wrapper {
    border: 1px solid var(--theme-light-white);
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 10px;
}

.str-chat__channel-search-bar .str-chat__channel-search-input--wrapper.str-chat__channel-search-input--wrapper-active {
    border: 1px solid #337eff;
    background-color: rgba(120, 120, 120, 0.3);
}

.str-chat__channel-preview-messenger.str-chat__channel-preview.str-chat__channel-preview-messenger--active {
    background-color: rgba(120, 120, 120, 0.3);
    border-left: 5px solid #BAFF36;
}

/* right side */
.str-chat.str-chat__theme-dark.str-chat-channel.str-chat__channel {
    width: 70%;
}

.str-chat__channel-preview-messenger--left {
    padding-right: 12px;
}

.str-chat__channel-preview-messenger--last-message {
    padding-top: 2px;
}

.str-chat__message-input {
    border-top: 1px solid var(--theme-light-white);
}

.str-chat__channel-list .str-chat__channel-list-messenger .str-chat__channel-list-messenger__main {
    height: 65vh;
}

.str-chat ::-webkit-scrollbar {
    width: 3px;
}

.str-chat ::-webkit-scrollbar-track {
    background: var(--theme-grey-dark);
    border-radius: 10px;
}

.str-chat ::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
}

.str-chat ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Navigation bar */
.MuiBottomNavigation-root{
    background: var(--theme-grey-dark);
    border-radius: 10px;
    border: 1px solid var(--theme-light-white);
    margin-bottom: 36px;
    overflow: hidden;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
    max-width: 33.34%;
    color: white;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    background-color: var(--theme-primary);
    color: black;
}

.MuiBottomNavigationAction-label,
.MuiBottomNavigationAction-label.Mui-selected{
    font-size: 18px;
}

.MuiBox-root svg, .css-dhvfrb-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active{
    color: white;
}

.primary-text{
    color: var(--theme-primary);
}

.Accepted-button{
    background-color: var(--theme-primary);
}

.Pending-button{
    background-color: var(--theme-yellow);
}

.Rejected-button, .Expired-button{
    background-color: var(--theme-error);
}

.list-container{
    background-color: var(--theme-grey-dark);
    border: 1px solid var(--theme-light-white);
    border-radius: 0.75rem;
    overflow: hidden;
}

.list-item-container{
    display: flex;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid var(--theme-light-white);
    cursor: pointer;
}

.list-item-container:last-child{
    border-bottom: 0;
}

.list-item-container:hover{
    background: var(--theme-secondary-dark-hover);
}
