@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-chat-container{
    background: #2C2C2C;
    height: 80vh;
}

.modal-body,
.modal-footer,
.str-chat,
.str-chat__list,
.mdc-dialog__surface,
.str-chat__empty-channel,
.str-chat__channel-header {
    background: #2C2C2C !important;
}

/* channel searchbox */
.str-chat__channel-search{
    padding: 25px 48px;
}
.str-chat__channel-search .str-chat__channel-search-bar{
    padding: 0;
}

.str-chat__channel-search-bar .str-chat__channel-search-input--wrapper{
    border: 1px solid white;
    background-color: rgba(120, 120, 120, 0.3);
}
.str-chat__channel-search-bar .str-chat__channel-search-input--wrapper.str-chat__channel-search-input--wrapper-active{
    border: 1px solid #337eff;
    background-color: rgba(120, 120, 120, 0.3);
}

/* channel list */
.str-chat-channel-list{
    width: 22vw;
}

.str-chat__channel-preview-messenger.str-chat__channel-preview.str-chat__channel-preview-messenger--active{
    background-color: rgba(120, 120, 120, 0.3);
    border-left: 5px solid #BAFF36;
}

.str-chat__channel-preview{
    padding: 21px 48px;
}

/* chat window */
.str-chat.str-chat__theme-dark.str-chat-channel.str-chat__channel{
    width: 100%;
}


.str-chat__channel-preview-messenger--left{
    padding-right: 12px;
}

.str-chat__channel-preview-messenger--last-message{
    padding-top: 2px;
}

.searchbox{
    background: transparent;
}
