h1 {
    font-size: 52px;
    line-height: 1.1;
    color: var(--theme-title-color);
    margin: 0px;
    padding: 16px 0px;
}

p {
    font-size: 20px;
    line-height: 1.15;
}

.field-input {
    background-color: var(--theme-ink-color);
    /* opacity: 0.11; */
    border: solid 1px black;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 8px 8px 8px 16px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
}

.brief-details-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: 650px;
    max-height: 650px;
    max-width: 1250px;
    /* margin-left: auto; */
    margin-right: auto;
    border-radius: 20px;
}

.left-panel {
    background-color: #2c2c2c;
    padding: 64px 32px 64px 48px;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-ink-color);
    padding: 32px 64px;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
}

.heading {
    padding: 112px 32px 64px 0px;
}

.help {
    color: var(--theme-ink-color);
    padding-right: 48px;
    padding-bottom: 8px;
}

.contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    padding-bottom: 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.name-panel-input-wrapper {
    margin-top: 24px;
    margin-bottom: 40px;
}

.name-panel-name-examples {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 128px;
}

.name-panel-name-example {
    font-size: 20px;
    color: black;
    line-height: 1.5;
    margin: 0px;
}

.description-panel {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 24px;
}

.scope-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
}

.scope-item-description {
    color: var(--theme-black-text);
    font-size: 16px;
    line-height: 1.25;
}

.time-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 120px;
}

.experience-level-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 120px;
}

.budget-input-container {
    position: relative;
    margin-top: 24px;
    margin-bottom: 32px;
}

.budget-currency-container {
    position: absolute;
    top: 0px;
    left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--theme-black-text);
}

.budget-description {
    margin-bottom: 160px;
    padding-right: 112px;
}

.industry-container {
    padding-top: 24px;
    padding-bottom: 80px;
}

.skills-container {
    padding-top: 24px;
    padding-bottom: 80px;
}
