legend {
    width: 100%;
    margin: 0;
    padding: 0;
}

.label {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 27px;
    font-weight: 400;
}


.primary-btn {
    margin: 0;
}

.primary-btn:disabled {
    background-color: #676767;
    color: #b5b5b5;
    cursor: unset;
}

.primary-btn.fullwidth {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-radius: 8px;
    background-color: var(--theme-secondary);
    line-height: 30px;
    font-weight: 300;
    font-family: var(--theme-font-family);
    color: #fff;
    align-self: center;
    border: 2px solid transparent;
    transition: color 300ms, background-color 300ms;
    font-size: var(--button-font-size);
    text-align: center;
    letter-spacing: .6px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3px;
    font-weight: normal;
}
