version: '3.8'
services:

  postgres:
    container_name: postgres
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: imbue
      POSTGRES_PASSWORD: imbue
      PGDATA: /var/lib/postgresql/pgdata/
    ports:
      - 5433:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

#  api:
#    build: ./api
#    container_name: api
#    ports:
#    - "3000:3000"
#    environment:
#      WEB_HOST: "https://localhost:8443"
#      DB_PORT: 5432
#      DB_HOST: postgres
#      IMBUE_NETWORK_WEBSOCK_ADDR: wss://collator.staging.imbue.network
#      RELAY_CHAIN_WEBSOCK_ADDR: wss://rococo-rpc.polkadot.io
#    volumes:
#    - "./api/build:/api/build"
#    - "./api/node_modules:/api/node_modules"