.top-wrapper {
    margin-bottom: 10px;
}
#project-logo {
    object-fit: cover;
    height: 33vh;
    width: 100%;
}

.project-name-heading {
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-button-container {
    margin: 15px 0;
    width: 32%;
}

.edit:not(:disabled) {
    background-color: var(--secondary-button-background-color);
    color: var(--secondary-button-color);
    border: var(--secondary-button-border);
}

.edit:not(:disabled):hover {
    background-color: var(--secondary-button-background-hover-color);
}

/* .button {
    transition: all 200ms ease-in-out;
    border-radius: 3px;
} */


.button {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #411dc9;
    font-family: Aeoniktrial, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  .button.vote-btn:hover {
    background-color: #a4ff00;
    color: #000;
  }

  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #411dc9;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  input.w-button {
    -webkit-appearance: button;
  }

.vote-col {
    margin-right: auto;
    margin-left: auto;
  }
  
  .vote-col.pt6 {
    padding-top: 6px;
    padding-right: 60px;
  }
  
  .vote-col.plr30 {
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .vote-col.pr0 {
    padding-left: 60px;
  }

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

  .w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .w-col .w-col {
    padding-left: 0;
    padding-right: 0;
  }
  .w-col-1 {
    width: 8.33333333%;
  }
  .w-col-2 {
    width: 16.66666667%;
  }
  .w-col-3 {
    width: 25%;
  }
  .w-col-4 {
    width: 33.33333333%;
  }
  .w-col-5 {
    width: 41.66666667%;
  }
  .w-col-6 {
    width: 50%;
  }
  .w-col-7 {
    width: 58.33333333%;
  }
  .w-col-8 {
    width: 66.66666667%;
  }
  .w-col-9 {
    width: 75%;
  }
  .w-col-10 {
    width: 83.33333333%;
  }
  .w-col-11 {
    width: 91.66666667%;
  }
  .w-col-12 {
    width: 100%;
  }
  .w-hidden-main {
    display: none !important;
  }
  

.button:disabled, .button:disabled:hover, .button.primary:disabled {
    background-color: #676767;
    color: var(--disabled-button-color);
    cursor: unset;
}

.button.primary:not(:disabled) {
    background-color: var(--mdc-theme-secondary);
    color: white;
}
.button.primary:not(:disabled):hover {
    background-color: var(--mdc-theme-primary);
    /* text-shadow: 0px 0px 5px #000; */
    color: black;
}

div {
    color: var(--mdc-dialog-content-ink-color);
}

.mdc-tab .mdc-tab__text-label, .mdc-tab .mdc-tab__icon {
    color: #fff;
}

header.project-name-header {
    display: flex;
    justify-content: space-between;
}


@media screen
and (max-width: 380px) {
    .action-buttons {
        flex-direction: column;
        width: 100% !important;
    }
    .action-button-container {
        width: 100% !important;
        margin: 0 0 10px 0;
    }
    .button {
        /* padding: 8px; */
        border-radius: 3px;
    }
}

.tab-content {
    margin: 20px 0;
    min-height: 33vh;
    display: none;
}

/* ol.tab-content {
    list-style: none outside none;
    padding-left: 0;
}

ol.tab-content li {
    margin-bottom: 5px;
} */

#milestones li {
    color: var(--mdc-theme-text-primary-on-background);
    background-color: var(--mdc-theme-background);
    margin: 5px 0;
}

#milestones .mdc-deprecated-list-item__secondary-text {
    color: var(--mdc-theme-primary);
}

.tab-content.active {
    display: block;
}

.tab-content a {
    color: var(--mdc-theme-primary);
}

#funds-required {
    color: #fff;
    font-weight: bold;
}

ul.project-details {
    color: #fff;
    list-style: none outside none;
    padding: 0;
}
ul.project-details li {
    color: #fff;
}

#auth-dialog-web2-list li {
    color: #fff;
}



#finalize.blob {
	/* background: black; */
	/* border-radius: 25%; */
	/* margin: 10px; */
	/* height: 20px; */
	width: 32%;

	box-shadow: 0 0 0 0 rgba(178, 255, 11, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

#finalize.finalized {
    width: 32%;
    background-color: var(--theme-primary);
    color: black;
    font-weight: bolder;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(178, 255, 11, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(178, 255, 11, 0.7);
	}
}