:host {
    color: var(--main-text-color);
    width: 100%;
}
a {
    background-color: var(--theme-secondary-dark);
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
a:hover {
    background-color: var(--theme-secondary-dark-hover);
}
.hidden {
    display: none !important;
}

.context-menu {
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    /* min-width: 55%; */
    /* height: 35px; */
}
.context-menu-item {
    /* nothing yet */
}
.context-menu-item > a {
    display: block;
    font-size: 25pt;
    padding: 5px;
    padding-left: 6px;
    border-radius: 50%;
    box-shadow: 0 0 4px #55a;
    color: var(--theme-ink-color);
}
.context-menu-item > a:hover {
    box-shadow: 0 0 10px #55a;
}

#main-menu {
    cursor: pointer;
}

/* #pages > * {
    padding: 0;
} */
#not-found {
    margin: 0;
    padding: 0;
}
#main {
    /*display: flex;*/
    margin-bottom: 100px;
    margin-top: 5px;
}
#breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0 var(--main-side-margin) 0 5px;
    display: block;
    overflow: auto;
    white-space: nowrap;

    /* font-weight: bold;
    font-size: 1.25rem; */
}
#breadcrumbs li {
    margin: 0 6px 0 0;
    padding: 10px 0;
    margin: 0;
    display: none;
}
#breadcrumbs li.show {
    display: inline-block;
}
/*#breadcrumbs li:before {
    content: "• ";
    content: "> ";
    content: "» ";
}
#breadcrumbs li:first-child:before {
    content: "";
}*/
#breadcrumbs li i {
    /* vertical-align: middle; */
    /* padding: 0 0 3px 0; */
    margin: 0 1px;
    vertical-align: bottom;
}
#breadcrumbs li a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 2px;
}
[slot] paper-button {
    margin: 0;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 0 5px 0 0;
    min-width: 0px;
    border-radius: 50%;
    background: #ffffff55;
    height: 32px;
    border: 1px solid white;
    box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 3px #ddd;
    box-shadow: none;
}
[slot] paper-button i {
    font-size: var(--icon-size);
}
.context-menu-spacer {
    border-right: 1px dotted #fff;
    margin: 0 5px;
}

#hamburger {
    /* display: none; */
}
    #hamburger.show {
        display: initial;
    }


#breadcrumbs li.show {
    padding: 0;
    /* margin-top: -20px; */
    font-weight: lighter;
}
#breadcrumbs li.show:last-child a {
    /* font-size: 1.5em; */
    font-weight: bold;
}
#breadcrumbs li.show a {
    font-size: .9em;
}

@media screen and (min-width: 700px) {
    #breadcrumbs {
        padding: 0;
    }
}