:host {
    display: flex;
    flex-direction: row;
    font-family: var(--theme-font-family);
}

header {
    width: 40%;
    max-width: 400px;
    padding: 0 40px 0 0;
}

imbu-proposals-draft-submission-form {
    flex-grow: 1;
}

header h1 {
    margin: 0;
    font-size: var(--theme-h1-size);
    font-weight: var(--theme-h1-weight);
}

@media screen and (max-width: 868px) {
    :host {
        display: block;
    }
    header {
        width: auto;
        max-width: unset;
    }
    header h1 {
        margin: 20px 0;
    }
}
