:host {
  font-family: var(--theme-font-family);
}

h1 {
  font-size: var(--theme-h1-size);
  font-weight: var(--theme-h1-weight);
}

/*
This is the flex version (attempt) at a CSS grid. The only reason to want to
go this way, is that IE 11 doesn't support CSS grid, so we may want to figure
out how to do some progressive enhancement, etc. to get this to work on IE.

N.B., conditional comments don't work for IE 10 or 11.

ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
ol::after {
    content: "";
    flex: auto;
}

imbu-proposal-item {
    display: block;
    width: 22%;
    margin: 0 0 30px 0;
    border: 1px solid #007;
    box-shadow: 0 0 5px #333,
                0 0 15px #333;
}
*/

li {
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
}

imbu-proposal-item {
  display: block;
  margin: 0 0 30px 0;
  border: 1px solid #007;
  box-shadow: 0 0 5px #333, 0 0 15px #333;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.primary-btn {
  margin-top: 16px;
  margin-right: 16px;
  padding: 12px 24px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 2px solid transparent;
  background-color: #7956bf;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.primary-btn.in-dark {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 46px;
  background-color: #411dc9;
  font-family: Aeoniktrial, sans-serif;
  font-weight: 400;
  text-align: right;
}

.primary-btn.in-dark:hover {
  background-color: #a4ff00;
  color: #000;
}
