:root {
    --mdc-text-field-fill-color: rgba(235, 234, 226, 0.11);
    --mdc-text-field-disabled-fill-color: rgba(235, 234, 226, 0.23);
    --mdc-text-field-label-ink-color: #aaa;
    --mdc-text-field-disabled-ink-color: rgba(255, 255, 255, 0.25);
    --mdc-text-field-ink-color: #fafafa;

    --mdc-select-fill-color: var(--mdc-text-field-fill-color);
    --mdc-select-disabled-fill-color: var(--mdc-text-field-disabled-fill-color);
    --mdc-select-label-ink-color: var(--mdc-text-field-label-ink-color);
    --mdc-select-ink-color: var(--mdc-text-field-ink-color);
    --mdc-theme-text-primary-on-background: var(--mdc-text-field-ink-color);
    --mdc-theme-text-secondary-on-background: var(--mdc-theme-secondary);

    /* --mdc-dialog-content-ink-color: var(--mdc-text-field-ink-color);
    --mdc-dialog-scrim-color: rgba(200, 200, 255, 0.5); */
}
.web3-source {
    color: #999;
}

fieldset, legend {
    margin: 0;
    padding: 0;
}
fieldset:first-of-type {
    margin-top: 0;
}
fieldset {
    margin-top: 26px;
}
.label {
    margin-top: 0;
}
.milestone-separator {
    width: 95%;
    border: 1px 0 0 0;
    border-color: #555;
}
#milestones-fieldset {
    padding-bottom: 20px;
}
.input-field {
    margin: 0 0 5px 0;
    display: flex;
}

#add-milestone:hover {
    background-color: #656565;
    /* color: var(--mdc-theme-secondary); */
    color: white;
    transition: all 150ms ease-in-out;
}

#add-milestone {
    transition: all 150ms ease-in-out;
    background-color: #555;
}

#submit-project:hover {
    background-color: var(--mdc-theme-secondary-hover);
}

/* .input-field mwc-list-item {
    color: inherit;
}
.input-field mwc-list-item:focus,
.input-field mwc-list-item:hover {
    background-color: rgb(178, 255, 11, 0.2);
    outline-width: 10px;
    outline-color: rgb(178, 255, 11);
    outline: 1px  solid var(--mdc-theme-primary);
} */
