<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="The Future of Crowdfunding on Polkadot" name="description"/>
        <meta content="Imbue Network" property="og:title"/>
        <meta content="The Future of Crowdfunding on Polkadot" property="og:description"/>
        <meta content="https://uploads-ssl.webflow.com/6193dbff3b4d68197d67f41e/61db35b3552bc12075f0a655_imbue-web-image.jpeg" property="og:image"/>
        <meta content="Imbue Network" property="twitter:title"/><meta content="The Future of Crowdfunding on Polkadot" property="twitter:description"/>
        <meta content="https://uploads-ssl.webflow.com/6193dbff3b4d68197d67f41e/61db35b3552bc12075f0a655_imbue-web-image.jpeg" property="twitter:image"/>
        <meta content="website" property="og:type"/>
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>

        <!-- FIXME: not sure if this is really needed -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">WebFont.load({  google: {    families: ["Space Grotesk:regular,500,600,700"]  }});</script>

        <!-- FIXME: not sure if we care about IE -->
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->

        <link href="https://uploads-ssl.webflow.com/61eefd021659ab72d04a4fc1/61eefd021659abd0884a50bf_fav.png" rel="shortcut icon" type="image/x-icon"/>
        <link href="https://uploads-ssl.webflow.com/61eefd021659ab72d04a4fc1/61eefd021659ab8a004a5083_icon.png" rel="apple-touch-icon"/>

        <!-- FIXME: preload is an attempt to fix FOUC, but it's not working -->
        <!-- <link href="https://fonts.gstatic.com/s/materialicons/v121/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2" rel="preload" as="font"> -->

        <title>Imbue Network Dapp</title>
        <script type="module" src="/dist/dapp.js"></script>
    </head>
    <body>
        <imbu-dapp id="dapp" default-route="/proposals/"></imbu-dapp>
    </body>
</html>
