:host {
  display: block;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

#name {
  font-family: var(--theme-font-family);
  font-size: 22px;
  padding: 20px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  display: block;
  text-decoration: none;
  background: transparent;
  transition: var(--base-transition);
  padding: 20px 10px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

a:hover {
  background: var(--theme-primary);
  color: #000;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.primary-btn {
  margin-top: 16px;
  margin-right: 16px;
  padding: 12px 24px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 2px solid transparent;
  background-color: #7956bf;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.primary-btn.in-dark {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 46px;
  background-color: #411dc9;
  font-family: Aeoniktrial, sans-serif;
  font-weight: 400;
  text-align: right;
}

.primary-btn.in-dark:hover {
  background-color: #a4ff00;
  color: #000;
}
