
.select-source {
    color: #999;
}

fieldset, legend {
    margin: 0;
    padding: 0;
}
fieldset:first-of-type {
    margin-top: 0;
}
fieldset {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}
legend {
    margin-top: 0;
    width: 100%;
}

fieldset.funding {
    flex-direction: row;
    justify-content: space-between;
}

.input-field[name=imbu-account] {
    width: 40%
}
.input-field[name=imbu-funds-required] {
    width: 59%;
}

.milestone-separator {
    width: 95%;
    border: 1px 0 0 0;
    border-color: #555;
}
#milestones-fieldset {
    padding-bottom: 20px;
}
.input-field {
    margin: 0 0 5px 0;
    display: block;
}

#add-milestone {
    margin: 0;
}

#add-milestone:not(:disabled):hover {
    background-color: #656565;
    /* color: var(--mdc-theme-secondary); */
    color: white;
    transition: all 150ms ease-in-out;
}

#add-milestone:not(:disabled) {
    transition: all 150ms ease-in-out;
    background-color: #555;
}

.primary-btn:disabled {
    background-color: #676767;
    color: #b5b5b5;
    cursor: unset;
}

#submit-project:not(:disabled):hover {
    background-color: var(--mdc-theme-secondary-hover);
}

.imbu-symbol-prefix {
    padding-right: 5px;
}

.input-field mwc-list-item {
    color: inherit;
}
.input-field mwc-list-item:focus,
.input-field mwc-list-item:hover {
    background-color: rgb(178, 255, 11, 0.2);
    background-color: rgba(255,255,255, 0.1);
    /* outline-color: rgb(178, 255, 11);
    outline: 1px  solid var(--mdc-theme-primary); */
}
