.mdc-tab .mdc-tab__text-label,
.mdc-tab .mdc-tab__icon {
  color: #fff;
}

.hidden {
  display: none;
}

.tab-content {
  margin: 20px 0;
  /* min-height: 33vh; */
  display: none;
}

.tab-content.active {
  display: block;
}

.select-source {
  color: #999;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
}
fieldset:first-of-type {
  margin-top: 0;
}
fieldset {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  border: none;
}
legend {
  margin: 0 0 inherit 0;
  width: 100%;
}

div.funding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-field[name="imbu-account"] {
  width: 49%;
}
.input-field[name="imbu-funds-required"] {
  width: 50%;
}
.milestone {
  margin: 0 0 5px 0;
}
.milestone-separator {
  width: 95%;
  border: 1px 0 0 0;
  border-color: #555;
}
#milestones-fieldset {
  padding-bottom: 20px;
}

#milestones {
  list-style: none outside none;
  padding: 0;
}

.input-field {
  margin: 0 0 5px 0;
  display: block;
}

#add-milestone {
  margin: 0;
  transition: var(--base-transition);
}

#add-milestone:not(:disabled):hover {
  background-color: var(--secondary-button-background-hover-color);
  /* color: var(--mdc-theme-secondary); */
  color: white;
}

#add-milestone:not(:disabled) {
  background-color: var(--secondary-button-background-color);
  border: var(--secondary-button-border);
}

#submit-project:not(:disabled):hover {
  background-color: var(--mdc-theme-primary);
  color: black;
}

.primary-btn.fullwidth:disabled {
  background-color: var(--disabled-button-background-color);
  color: var(--disabled-button-color);
}

.imbu-symbol-prefix {
  padding-right: 5px;
}

.input-field mwc-list-item {
  color: inherit;
}
.input-field mwc-list-item:focus,
.input-field mwc-list-item:hover {
  background-color: rgb(178, 255, 11, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  /* outline-color: rgb(178, 255, 11);
    outline: 1px  solid var(--mdc-theme-primary); */
}

@media screen and (max-width: 500px) {
  div.funding {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-field[name="imbu-account"] {
    width: 100%;
  }
  .input-field[name="imbu-funds-required"] {
    width: 100%;
  }
}
