extends layout.pug
block content
    link(rel='stylesheet' href='/public/freelancer.css')
    div(id="freelancer-details" name="details")
        script(src="/public/lib/freelancer.js" type="text/javascript")