extends layout.pug
block content
    link(rel='stylesheet' href='/public/proposals.css')
    h1() Login La Chibai
    div(id="googlelogin" name="listing")
    script(src="/public/lib/googlelogin.js" type="text/javascript")
