extends layout.pug
block content
    link(rel='stylesheet' href='/public/new-brief.css')
    h1 Submit A New Brief
    div(id="brief-details" name="details")
        script(src="/public/lib/new-brief.js" type="text/javascript")
