extends layout.pug
block content
    link(rel='stylesheet' href='/public/projectDetails.css')
    h1 Submit Project Details
    div(id="project-details" name="details")
        script(src="/public/lib/projectDetails.js" type="text/javascript")
