extends layout.pug
block content
    link(rel='stylesheet' href='/public/proposals.css')
    h1() Discover Proposals
    div(id="imbu-proposals" name="listing")
    script(src="/public/lib/proposals.js" type="text/javascript")
