.mdc-dialog .mdc-dialog__title {
    color: var(--dialog-title-color);
}

.mdc-dialog .mdc-dialog__content {
    color: var(--dialog-content-color);
}

.mdc-dialog a {
    color: var(--dialog-anchor-color);
}

.mdc-dialog strong {
    color: var(--dialog-strong-color);
}

.mdc-dialog .mdc-dialog__scrim {
    background: var(--dialog-scrim-background);
}

.mdc-dialog .mdc-dialog__surface {
    box-shadow: var(--dialog-box-shadow);
}

.mdc-dialog {
    z-index: var(--dialog-z-index, 1001);
}
